{% extends 'dashboard-base/base.html' %}
{% block content %}

<section>
    <div class="container section-content mt-5">
        <h1>Manage Your Budgets</h1>
        <div class="d-flex flex-column mt-3">
            <div class="weekly-budget-container">
                <!-- Weekly Budget Form -->
                <h2>Weekly Budget</h2>
                <form method="post" class="mb-3">
                    {% csrf_token %}
                    {% for field in weekly_form %}
                    {% if field.auto_id != 'id_start_date' %}
                    <div class="form-group mt-3">
                        {{ field|as_crispy_field }}
                    </div>
                    {% else %}
                    <div class="form-group mt-3 ">
                        {{ field }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <button type="submit" name="weekly_budget" class="btn btn-primary mt-3">Create Weekly
                        Budget</button>
                </form>
                <!-- Existing Weekly Budgets -->
                {% if weekly_budgets %}
                <div class="list-group my-2">
                    <h3>Existing Weekly Budgets</h3>
                    {% for budget in weekly_budgets %}
                    <div class="list-group-item">
                        <p>Budget from {{ budget.start_date }} to {{ budget.end_date }}: {{ budget.amount }}</p>
                        <p>Description: {{ budget.description }}</p>
                        <form method="post" action="{% url 'update_budget' budget.id 'weekly' %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" name="update_weekly" class="btn btn-success btn-sm">Edit</button>
                        </form>
                        <form method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="budget_id" value="{{ budget.id }}">
                            <button type="submit" name="delete_weekly" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <hr class="hr my-5">
            <div class="monthly-budget-container">
                <h2>Monthly Budget</h2>
                <form method="post" class="mb-3">
                    {% csrf_token %}
                    {% for field in monthly_form %}
                    {% if field.auto_id != 'id_start_date' %}
                    <div class="form-group mt-3">
                        {{ field|as_crispy_field }}
                    </div>
                    {% else %}
                    <div class="form-group mt-3 ">
                        {{ field }}
                    </div>
                    {% endif %}

                    {% endfor %}
                    <button type="submit" name="monthly_budget" class="btn btn-primary mt-3">Create Monthly
                        Budget</button>
                </form>

                <!-- Existing Monthly Budgets -->
                {% if monthly_budgets %}
                <div class="list-group my-2">
                    <h3>Existing Monthly Budgets</h3>
                    {% for budget in monthly_budgets %}
                    <div class="list-group-item">
                        <p>Budget from {{ budget.start_date }} to {{ budget.end_date }}: {{ budget.amount }}</p>
                        <p>Description: {{ budget.description }}</p>
                        <form method="post" action="{% url 'update_budget' budget.id 'monthly' %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" name="update_monthly" class="btn btn-success btn-sm">Edit</button>
                        </form>
                        <form method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="budget_id" value="{{ budget.id }}">
                            <button type="submit" name="delete_monthly" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <hr class="hr my-5">
            <div class="yearly-budget-contain">
                <!-- Yearly Budget Form -->
                <h2>Yearly Budget</h2>
                <form method="post" class="mb-3">
                    {% csrf_token %}
                    {% for field in yearly_form %}
                    {% if field.auto_id != 'id_start_date' %}
                    <div class="form-group mt-3">
                        {{ field|as_crispy_field }}
                    </div>
                    {% else %}
                    <div class="form-group mt-3 ">
                        {{ field }}
                    </div>
                    {% endif %}

                    {% endfor %}
                    <button type="submit" name="yearly_budget" class="btn btn-primary mt-3">Create Yearly
                        Budget</button>
                </form>

                <!-- Existing Yearly Budgets -->
                {% if yearly_budgets %}
                <div class="list-group">
                    <h3>Existing Yearly Budgets</h3>
                    {% for budget in yearly_budgets %}
                    <div class="list-group-item">
                        <p>Budget from {{ budget.start_date }} to {{ budget.end_date }}: {{ budget.amount }}</p>
                        <p>Description: {{ budget.description }}</p>
                        <form method="post" action="{% url 'update_budget' budget.id 'yearly' %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" name="update_yearly" class="btn btn-success btn-sm">Edit</button>
                        </form>
                        <form method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="budget_id" value="{{ budget.id }}">
                            <button type="submit" name="delete_yearly">Delete</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</section>
{% endblock %}