<!-- dashboard.html -->
{% extends 'dashboard-base/base.html' %}

{% block content %}
{% load static %}
<!-- Add Code to the <head> tag -->
{% block extra_corecss %}
<style>
    /* Keyframe animations for attention-grabbing effects */


    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
        }

        70% {
            box-shadow: 0 0 0 4px rgba(0, 0, 0, 0);
        }

        100% {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
    }

    @keyframes slideUp {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0);
        }
    }

    /* Triggering animations in sequence */
    .bar.animate {
        animation:
            slideUp 1s ease-out forwards,
            /* Slide-up effect */
            popIn 1s ease-out 1s forwards,
            /* Pop-in effect */
            pulse 2s infinite 2s;
        /* Pulse effect */
    }

    /* Style for the graph container */
    .graph-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        position: relative;
        width: 100%;
        max-width: 600px;
        height: 400px;
        margin: 20px auto;
        background: none;
        overflow: hidden;
    }

    /* Style for the bars */
    .bar {
        width: 10%;
        background: linear-gradient(to top, #2980b9, #6dd5fa);
        margin: 0 2%;
        border-radius: 5px;
        transform-origin: bottom;
        animation: popIn 1s ease-out forwards, pulse 1.5s infinite 2s;
        max-height: 90%;
    }

    /* Style for the labels and values */
    .bar-label {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px;
        font-size: 0.8em;
        color: #333;
        white-space: nowrap;
        z-index: 1;
    }

    .bar-value {
        display: block;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px;
        font-size: 1.2em;
        top: 15px;
        z-index: 2;
    }

    /* 3D effect with shadows */
    .bar:before {
        content: '';
        position: absolute;
        top: 0;
        left: -5px;
        right: 0px;
        bottom: 0;
        z-index: 0;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 1px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        transition: opacity 0.3s;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .graph-container {
            height: 300px;
            /* Adjust height for smaller devices */
        }

        .bar {
            width: 20%;
            /* Adjust bar width for smaller devices */
        }

        .bar-label,
        .bar-value {
            font-size: 0.9em;
            /* Adjust font size for smaller devices */
        }
    }
</style>
{% endblock extra_corecss %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.4/lottie.min.js"></script>
<header class="container text-center">
    <div class="user-section">
        {% if not user.is_authenticated %}
        <p class="lead">Please log in to view this page.</p>
        {% endif %}
    </div>
</header>
<div class="container mt-5">
    <article class="row d-flex align-items-center justify-content-center">

        <!-- BUDGETS/GOALS -->
        <div class="col-lg-5 col-md-8 mb-5 col-sm-12">
            <div class="card shadow h-100">
                <!-- Card Header -->
                <header>
                    <h2 class="card-header text-center">GOALS</h2>
                </header>

                <!-- Card Thumbnail -->
                <div class="card-body p-0 mt-2">
                    <div id="lottie-animation"></div>
                        <!-- Bars will be inserted here by JavaScript -->
                    </div>
                </div>
                <!-- Card Body -->
                <!-- Weekly -->
                <section class="card-body pt-1 px-2 pb-1 border">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">

                                <div class="d-flex justify-content-between" data-bs-toggle="modal"
                                    data-bs-target="#add-weekly-budget-form">
                                    <h4 class="p-0 m-0">Weekly Budget</h4>
                                    <h4 class="p-0 m-0"><i class="fa-solid fa-plus"></i></h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

                <!-- Existing Weekly Budgets -->
                {% if weekly_budgets %}
                <div class="container p-0 m-0">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for budget in weekly_budgets %}
                                <tr>
                                    <td><small>{{ budget.start_date }} to {{ budget.end_date }}</small></td>
                                    <td>${{ budget.amount }}</td>
                                    <td>{{ budget.description }}</td>
                                    <td>
                                        <div style="display: flex; gap: 10px;">
                                            <form method="post" action="{% url 'update_budget' budget.id 'weekly' %}"
                                                class="d-inline">
                                                {% csrf_token %}
                                                <button type="submit" name="update_weekly"
                                                    class="btn btn-warning btn-sm">Update</button>
                                            </form>
                                            <form method="post" class="d-inline">
                                                {% csrf_token %}
                                                <input type="hidden" name="budget_id" value="{{ budget.id }}">
                                                <button type="submit" name="delete_weekly"
                                                    class="btn btn-danger btn-sm">Delete</button>
                                            </form>
                                        </div>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}


                <!-- Monthly -->
                <section class="card-body pt-1 px-2 pb-1 border">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">

                                <div class="d-flex justify-content-between" data-bs-toggle="modal"
                                    data-bs-target="#add-monthly-budget-form">
                                    <h4 class="p-0 m-0">Monthly Budget</h4>
                                    <h4 class="p-0 m-0"><i class="fa-solid fa-plus"></i></h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

                <!-- Existing Monthly Budgets -->
                {% if monthly_budgets %}
                <div class="container p-0 m-0">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for budget in monthly_budgets %}
                                <tr>
                                    <td><small>{{ budget.start_date }} to {{ budget.end_date }}</small></td>
                                    <td>${{ budget.amount }}</td>
                                    <td>{{ budget.description }}</td>
                                    <td>
                                        <div style="display: flex; gap: 10px;">
                                            <form method="post" action="{% url 'update_budget' budget.id 'monthly' %}"
                                                class="d-inline">
                                                {% csrf_token %}
                                                <button type="submit" name="update_monthly"
                                                    class="btn btn-warning btn-sm">Update</button>
                                            </form>
                                            <form method="post" class="d-inline">
                                                {% csrf_token %}
                                                <input type="hidden" name="budget_id" value="{{ budget.id }}">
                                                <button type="submit" name="delete_monthly"
                                                    class="btn btn-danger btn-sm">Delete</button>
                                            </form>
                                        </div>
                                    </td>

                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}


                <!-- Yearly -->
                <section class="card-body pt-1 px-2 pb-1 border">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">

                                <div class="d-flex justify-content-between" data-bs-toggle="modal"
                                    data-bs-target="#add-yearly-budget-form">
                                    <h4 class="p-0 m-0">Yearly Budget</h4>
                                    <h4 class="p-0 m-0"><i class="fa-solid fa-plus"></i></h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

                <!-- Existing Yearly Budgets -->
                {% if yearly_budgets %}
                <div class="container p-0 m-0">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for budget in yearly_budgets %}
                                <tr>
                                    <td><small>{{ budget.start_date }} to {{ budget.end_date }}</small></td>
                                    <td>${{ budget.amount }}</td>
                                    <td>{{ budget.description }}</td>
                                    <td>
                                        <div style="display: flex; gap: 10px;">
                                            <form method="post" action="{% url 'update_budget' budget.id 'yearly' %}"
                                                class="d-inline">
                                                {% csrf_token %}
                                                <button type="submit" name="update_yearly"
                                                    class="btn btn-warning btn-sm">Update</button>
                                            </form>
                                            <form method="post" class="d-inline">
                                                {% csrf_token %}
                                                <input type="hidden" name="budget_id" value="{{ budget.id }}">
                                                <button type="submit" name="delete_yearly"
                                                    class="btn btn-danger btn-sm">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}


            </div>
        </div>
    </article>
</div>

<!-- MODELS -->


<!-- WEEKLY Instance Modal -->

<div class="modal fade" id="add-weekly-budget-form" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <section class="modal-content mt-5">
            <!-- Header -->

            <div class="card border-0 shadow">
                <!-- Hedaer -->
                <div class="card-header d-flex justify-content-between">
                    <h3 class="card-title m-0 p-0">Add Weekly Budget</h3>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>

                <form method="post" class="card-body p-0">
                    <div class="p-3">
                        {% csrf_token %}
                        {% for field in weekly_form %}
                        {% if field.auto_id != 'id_start_date' %}
                        <div class="form-group mt-3">
                            {{ field|as_crispy_field }}
                        </div>
                        {% else %}
                        <div class="form-group mt-3 ">
                            {{ field }}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <button type="submit" name="weekly_budget" class="card-footer w-100 border-0 btn btn-primary">Create
                        Weekly
                        Budget</button>
                </form>
            </div>
        </section>
    </div>
</div>

<!-- MONTHLY Instance Modal -->

<div class="modal fade" id="add-monthly-budget-form" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <section class="modal-content mt-5">
            <!-- Header -->

            <div class="card border-0 shadow">
                <!-- Hedaer -->
                <div class="card-header d-flex justify-content-between">
                    <h3 class="card-title m-0 p-0">Add Monthly Budget</h3>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>

                <form method="post" class="card-body p-0">
                    <div class="p-3">
                        {% csrf_token %}
                        {% for field in monthly_form %}
                        {% if field.auto_id != 'id_start_date' %}
                        <div class="form-group mt-3">
                            {{ field|as_crispy_field }}
                        </div>
                        {% else %}
                        <div class="form-group mt-3 ">
                            {{ field }}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <button type="submit" name="monthly_budget"
                        class="card-footer w-100 border-0 btn btn-primary">Create
                        Monthly
                        Budget</button>
                </form>
            </div>
        </section>
    </div>
</div>

<!-- YEARLY Instance Modal -->

<div class="modal fade" id="add-yearly-budget-form" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <section class="modal-content mt-5">
            <!-- Header -->

            <div class="card border-0 shadow">
                <!-- Hedaer -->
                <div class="card-header d-flex justify-content-between">
                    <h3 class="card-title m-0 p-0">Add Yearly Budget</h3>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>

                <form method="post" class="card-body p-0">
                    <div class="p-3">
                        {% csrf_token %}
                        {% for field in yearly_form %}
                        {% if field.auto_id != 'id_start_date' %}
                        <div class="form-group mt-3">
                            {{ field|as_crispy_field }}
                        </div>
                        {% else %}
                        <div class="form-group mt-3 ">
                            {{ field }}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <button type="submit" name="yearly_budget" class="card-footer w-100 border-0 btn btn-primary">Create
                        Yearly
                        Budget</button>
                </form>
            </div>
        </section>
    </div>
</div>


<script>
    var animation = bodymovin.loadAnimation({
        container: document.getElementById('lottie-animation'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '{% static "budget.json" %}' // Path to your Lottie file
    });
    </script>
<!-- Custom JavaScript-->
{% block postloadjs %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('budgetChart').getContext('2d');
    const chartData = JSON.parse('{{ chart_data|safe }}');
    const budgetChart = new Chart(ctx, {
        type: 'bar',  // You can change this to 'line' for a line chart
        data: chartData,
        options: {
            scales: {
                xAxes: [{
                    stacked: true  // Set to false for a non-stacked chart
                }],
                yAxes: [{
                    stacked: true  // Set to false for a non-stacked chart
                }]
            }
        }
    });
</script>
{% endblock postloadjs %}

{% endblock %}