{% extends 'dashboard-base/base.html' %}

{% block content %}
<div class="container mt-5">
    <article class="row d-flex align-items-center justify-content-center">

        <!-- BUDGETS/GOALS -->
        <div class="col-lg-5 col-md-8 mb-5 col-sm-12">
            <div class="card shadow h-100">
                <!-- Card Header -->
                <header>
                    <h2 class="card-header text-center">REPORTS</h2>
                </header>

                <!-- Card Thumbnail -->
                <div class="card-body p-0 mt-2">
                    <div class="graph-container" id="expenseGraph">
                        <!-- Bars will be inserted here by JavaScript -->
                    </div>
                </div>
                <!-- Card Body -->

                {% for budget in budget_data %}
                <section class="card-body pt-1 px-2 pb-1 border">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">

                                <div class="d-flex justify-content-between" data-bs-toggle="modal"
                                    data-bs-target="#add-weekly-budget-form">
                                    <h4 class="p-0 m-0">Weekly Budget</h4>
                                    <h4 class="p-0 m-0"><i class="fa-solid fa-plus"></i></h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                {% endfor %}

            </div>
        </div>
    </article>

    {% for budget in budget_data %}
    <div class="budget-section">
        <h2>{{ budget.type }} Budget: ${{ budget.amount|floatformat:2 }}</h2>
        <div>From {{ budget.start_date }} to {{ budget.end_date }}</div>
        <p>Total Income for {{ budget.type }}: ${{ budget.income_total|floatformat:2 }}</p>
        <p>Total Expenses for {{ budget.type }}: ${{ budget.expense_total|floatformat:2 }}</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ budget.progress|default_if_none:"
                0"|floatformat:2 }}%;" aria-valuenow="{{ budget.progress|default_if_none:" 0" }}" aria-valuemin="0"
                aria-valuemax="100">
                {{ budget.progress|default_if_none:"0"|floatformat:2 }}%
            </div>
        </div>
        <p>Budget Health: <span class="{{ budget.health }}">{{ budget.comment }}</span></p>
        <p>Surplus/Deficit: ${{ budget.surplus_deficit|floatformat:2 }}</p>
    </div>
    {% empty %}
    <p>No budgets available.</p>
    {% endfor %}
</div>
{% endblock %}