asgiref==3.7.2
Brotli==1.1.0
cloudinary==1.38.0
cssselect2==0.7.0
dj-database-url==2.1.0
Django==3.2
django-cloudinary-storage==0.3.0
django-crispy-forms==1.14.0
django-heroku==0.3.1
django-summernote==0.8.20.0
feedparser==6.0.11
fonttools==4.47.2
gunicorn==21.2.0
html5lib==1.1
pillow==10.2.0
psycopg2==2.9.9
pydyf==0.8.0
pyphen==0.14.0
pytz==2023.3.post1
sgmllib3k==1.0.0
sqlparse==0.4.4
weasyprint==60.2
whitenoise==6.6.0
zopfli==0.2.3
