asgiref==3.7.2
Brotli==1.1.0
click==8.1.7
cloudinary==1.38.0
colorama==0.4.6
cssselect2==0.7.0
dj-database-url==2.1.0
Django==3.2
django-cloudinary-storage==0.3.0
django-crispy-forms==1.14.0
django-heroku==0.3.1
django-summernote==0.8.20.0
feedparser==6.0.11
fonttools==4.47.2
ghp-import==2.1.0
gunicorn==21.2.0
html5lib==1.1
Markdown==3.5.2
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-material==9.5.4
mkdocs-material-extensions==1.3.1
numpy==1.26.3
paginate==0.5.6
pathspec==0.12.1
pillow==10.2.0
psycopg2==2.9.9
pydyf==0.8.0
pymdown-extensions==10.7
pyphen==0.14.0
pytz==2023.3.post1
pyyaml_env_tag==0.1
regex==2023.12.25
sgmllib3k==1.0.0
sqlparse==0.4.4
watchdog==3.0.0
weasyprint==60.2
whitenoise==6.6.0
zopfli==0.2.3
