{% extends 'base.html' %}

{% block content %}
<section>
  <div class="container section-content py-5">
    <h1 class="page-title">About</h1>
    <div class="row mt-5">
      <div class="col col-12 col-md-7 order-2 order-md-1">
        <h2>What is BudgetBuddy?</h2>
        <p class="lead">BudgetBuddy is a simple budgeting app that helps you keep track of your expenses and income.
        </p>
        <p class="lead">It is simple to get started! Just enter your name, email address and password to create an
          account. After you have registered, you can add a savings goal and set up your weekly, monthly and yearly
          budgets. You can also add any income or expenditures you have, and label them so that you can easily keep
          track.</p>
      </div>
      <div class="col col-12 col-md-5 order-1 order-md-2 mb-3">
        <img src="https://images.unsplash.com/photo-1544761634-dc512f2238a3"
          alt="calculator and empty notebook on grass" class="img-fluid">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col col-12 col-md-5 mb-3">
        <img src="https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3"
          alt="calculator and empty notebook on grass" class="img-fluid">
      </div>
      <div class="col col-12 col-md-7">
        <h2>Why did we create it?</h2>
        <p class="lead">We created BudgetBuddy to simple the expense and income tracking process. There are tools out
          there that make something as simple (and important!) as your finances so difficult. BudgetBuddy gives you a
          straightforward way to keep you on track to your savings goals. </p>
        {% if not user.authenticated %}
        <div class="col col-12 col-md-4 mx-auto mt-5">
          <a href="{% url 'register' %}" class="btn btn-primary">Sign up now!</a>
        </div>

        {% endif %}
      </div>
    </div>



  </div>
</section>
{% endblock %}