{% extends 'base.html' %}

{% block content %}
<div class="py-5 bg-light team1">
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-md-7 text-center">
        <h3 class="mb-3">We're the people who has created this site!</h3>
        <h6 class="subtitle font-weight-normal">We're the great people who has created this site. Here you can find some
          information about us, and links to our Github and LinkedIn.</h6>
      </div>
    </div>
    <div class="row">
      <!-- column  -->
      <div class="col-lg-6">
        <div class="card card-shadow border-0 mb-4">
          <!-- Row -->
          <div class="row no-gutters">
            <div class="col-md-5 pro-pic"
              style="background:url(https://images.unsplash.com/photo-1601814933824-fd0b574dd592?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmFieSUyMHlvZGF8ZW58MHx8MHx8fDA%3D) no-repeat center center / cover">
              <div class="card-img-overlay">
                <ul class="list-inline position-relative text-center">
                  <li class="list-inline-item"><a href="https://github.com/stephendawsondev"
                      class="text-decoration-none d-block text-white px-1" target="_blank" rel="noopener noreferrer"
                      aria-label="Github"><i class="fa-brands fa-github fa-2x"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.linkedin.com/in/sdstephendawson/"
                      class="text-decoration-none d-block text-white px-1" target="_blank" rel="noopener noreferrer"
                      aria-label="Linkedin"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-7 bg-white">
              <div class="p-4">
                <h6 class="mb-3 font-weight-medium">Stephen Dawson</h6>
                <p>You can relay on our amazing features list and also our customer services will be great experience.
                </p>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
      </div>
      <!-- column  -->
      <div class="col-lg-6">
        <div class="card card-shadow border-0 mb-4">
          <!-- Row -->
          <div class="row no-gutters card-shadow">
            <div class="col-md-5 pro-pic"
              style="background:url(https://images.unsplash.com/photo-1601814933824-fd0b574dd592?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmFieSUyMHlvZGF8ZW58MHx8MHx8fDA%3D)no-repeat center center / cover">
              <div class="card-img-overlay">
                <ul class="list-inline position-relative text-center">
                  <li class="list-inline-item"><a href="https://github.com/dcsndevs"
                      class="text-decoration-none d-block text-white px-1" target="_blank" rel="noopener noreferrer"
                      aria-label="Github"><i class="fa-brands fa-github fa-2x"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.linkedin.com/in/olejeme/"
                      class="text-decoration-none d-block text-white px-1" target="_blank" rel="noopener noreferrer"
                      aria-label="Linkedin"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-7 bg-white">
              <div class="p-4">
                <h6 class="mb-3 font-weight-medium">Dickson Olejeme</h6>
                <p>You can relay on our amazing features list and also our customer services will be great experience.
                </p>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
      </div>
      <!-- column  -->
    </div>
    <div class="row">
      <!-- column  -->
      <div class="col-lg-6">
        <div class="card card-shadow border-0 mb-4">
          <!-- Row -->
          <div class="row no-gutters card-shadow">
            <div class="col-md-5 pro-pic"
              style="background:url(https://images.unsplash.com/photo-1601814933824-fd0b574dd592?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmFieSUyMHlvZGF8ZW58MHx8MHx8fDA%3D)no-repeat center center / cover">
              <div class="card-img-overlay">
                <ul class="list-inline position-relative text-center">
                  <li class="list-inline-item"><a href="https://github.com/NikolettaGr"
                      class="text-decoration-none d-block text-white px-1" target="_blank" rel="noopener noreferrer"
                      aria-label="Github"><i class="fa-brands fa-github fa-2x"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.linkedin.com/in/nikoletta-grishaber-24710a238/"
                      class="text-decoration-none d-block text-white px-1" target="_blank" rel="noopener noreferrer"
                      aria-label="Linkedin"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-7 bg-white">
              <div class="p-4">
                <h6 class="mb-3 font-weight-medium">Nikoletta Grishaber</h6>
                <p>You can relay on our amazing features list and also our customer services will be great experience.
                </p>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
      </div>
      <!-- column  -->
      <div class="col-lg-6">
        <div class="card card-shadow border-0 mb-4">
          <!-- Row -->
          <div class="row no-gutters card-shadow">
            <div class="col-md-5 pro-pic"
              style="background:url(https://images.unsplash.com/photo-1601814933824-fd0b574dd592?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmFieSUyMHlvZGF8ZW58MHx8MHx8fDA%3D)no-repeat center center / cover">
              <div class="card-img-overlay">
                <ul class="list-inline position-relative text-center">
                  <li class="list-inline-item"><a href="https://github.com/plexoio/"
                      class="text-decoration-none d-block text-white px-1" target="_blank" rel="noopener noreferrer"
                      aria-label="Github"><i class="fa-brands fa-github fa-2x"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.linkedin.com/in/arellanofrank/"
                      class="text-decoration-none d-block text-white px-1" target="_blank" rel="noopener noreferrer"
                      aria-label="Linkedin"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-7 bg-white">
              <div class="p-4">
                <h6 class="mb-3 font-weight-medium">Frank Arellano</h6>
                <p>You can relay on our amazing features list and also our customer services will be great experience.
                </p>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
      </div>
      <!-- column  -->
    </div>
    <div class="row">
      <!-- column  -->
      <div class="col-lg-6">
        <div class="card card-shadow border-0 mb-4">
          <!-- Row -->
          <div class="row no-gutters">
            <div class="col-md-5 pro-pic"
              style="background:url(https://images.unsplash.com/photo-1601814933824-fd0b574dd592?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmFieSUyMHlvZGF8ZW58MHx8MHx8fDA%3D) no-repeat center center / cover">
              <div class="card-img-overlay">
                <ul class="list-inline position-relative text-center">
                  <li class="list-inline-item"><a href="https://github.com/JesseRoss001"
                      class="text-decoration-none d-block text-white px-1" target="_blank" rel="noopener noreferrer"
                      aria-label="Github"><i class="fa-brands fa-github fa-2x"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.linkedin.com/in/jesseross001/"
                      class="text-decoration-none d-block text-white px-1" target="_blank" rel="noopener noreferrer"
                      aria-label="Linkedin"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-7 bg-white">
              <div class="p-4">
                <h6 class="mb-3 font-weight-medium">Jesse Lee Ross</h6>
                <p>You can relay on our amazing features list and also our customer services will be great experience.
                </p>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
      </div>
      <!-- column  -->
      <div class="col-lg-6">
        <div class="card card-shadow border-0 mb-4">
          <!-- Row -->
          <div class="row no-gutters card-shadow">
            <div class="col-md-5 pro-pic"
              style="background:url(https://images.unsplash.com/photo-1601814933824-fd0b574dd592?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmFieSUyMHlvZGF8ZW58MHx8MHx8fDA%3D)no-repeat center center / cover">
              <div class="card-img-overlay">
                <ul class="list-inline position-relative text-center">
                  <li class="list-inline-item"><a href="https://github.com/Jikazu/"
                      class="text-decoration-none d-block text-white px-1" target="_blank" rel="noopener noreferrer"
                      aria-label="Github"><i class="fa-brands fa-github fa-2x"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.linkedin.com/in/gabriellakohler/"
                      class="text-decoration-none d-block text-white px-1" target="_blank" rel="noopener noreferrer"
                      aria-label="Linkedin"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-7 bg-white">
              <div class="p-4">
                <h6 class="mb-3 font-weight-medium">Gabriella Köhler</h6>
                <p>You can relay on our amazing features list and also our customer services will be great experience.
                </p>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
      </div>
      <!-- column  -->
    </div>
    <div class="col-lg-6">
      <div class="card card-shadow border-0 mb-4">
        <!-- Row -->
        <div class="row no-gutters card-shadow">
          <div class="col-md-5 pro-pic"
            style="background:url(https://images.unsplash.com/photo-1601814933824-fd0b574dd592?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmFieSUyMHlvZGF8ZW58MHx8MHx8fDA%3D)no-repeat center center / cover">
            <div class="card-img-overlay">
              <ul class="list-inline position-relative text-center">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"
                    target="_blank" rel="noopener noreferrer" aria-label="Github"><i
                      class="fa-brands fa-github fa-2x"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/raneem-yad/"
                    class="text-decoration-none d-block text-white px-1" target="_blank" rel="noopener noreferrer"
                    aria-label="Linkedin"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-7 bg-white">
            <div class="p-4">
              <h6 class="mb-3 font-weight-medium">Raneem Yad</h6>
              <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
    </div>
    <!-- column  -->
  </div>
</div>
</div>
  
{% endblock %}