{% extends 'dashboard-base/base.html' %}
{% block content %}
<div class="card-body">
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post" action="{% url 'income' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Record Income</button>
    </form>

    <h2>Monthly Income Total</h2>
    <p>This month's total income: {{ monthly_income_total }}</p>

    <h2>Yearly Income Total</h2>
    <p>This year's total income: {{ yearly_income_total }}</p>

    <h2>Recent Incomes</h2>
    {% if incomes %}
        <table>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Source</th>
            </tr>
            {% for income in incomes %}
            <tr>
                <td>{{ income.date }}</td>
                <td>{{ income.amount }}</td>
                <td>{{ income.source }}</td>
                <td> <a href="{% url 'update_income' income.id %}">Update</a>
                    <a href="{% url 'delete_income' income.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No incomes recorded.</p>
    {% endif %}
</div>


{% endblock %}