/* All code here is also custom code */

:root {
  /* our theme Colors adding here  */
  --primary-color: #132D46;
  --secondary-color: #191E29;
  --accent-color: #01C38D;
  --text-color-grey: #696E79;
  --background-color: #ffffff;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* General Styling */

select,
select option {
  color: #000000;
}

select:invalid,
select option[value=""] {
  color: #757575 !important;
}

textarea {
  white-space: pre-wrap;
  /* CSS 2.1 */
  word-wrap: break-word;
  /* IE 5.5+ and CSS 3 */
  overflow-wrap: break-word;
  /* CSS 3 */
  resize: vertical;
  /* allow vertical resize */
}

a {
  text-decoration: none !important;
  color: #2980b9;
  cursor: pointer !important;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right !important;
}

/* Homepage CTA */
main{
  flex:1
}

.bg-main {
  background-color: #132D46;
}

.data-row {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.data-row  span {
  display: block;
}

.data-row p {
  margin-bottom: 0;
}
.badge-money{
  border: 1px solid black;
  border-radius: 20px ;
  padding: 0.2rem;
  align-self: center;
}

.circle {
  width: 25px; /* or any size */
  height: 25px; /* same as width */
  background-color: #696E79; /* or any color */
  border-radius: 50%; /* this makes it a circle */
}
.half-circle {
  width: 25px; /* or any size */
  height: 25px; /* half of the width */
  background-color: hsl(221, 7%, 44%); /* background for the filled part */
  border-radius: 50px; /* round the top */
  background: linear-gradient(to right, #696E79 50%, transparent 50%);
  border: 1px solid #696E79;
}
.empty-circle {
  width: 25px; /* or any size */
  height: 25px; /* same as width */
  border: 3px solid #696E79; /* border color and width */
  border-radius: 50%; /* this makes it a circle */
  background-color: transparent;
  border: 1px solid #696E79;
}

/* Cards */

.cta-card {
  border: 1px solid #dadada;
  padding: 15px 5px;
  border-radius: 5px;
  background-color: #132d465c;
}

.card {
  overflow: hidden;
}

.bg-thumbnail {
  margin: 0;
}

.bg-thumbnail-image {
  background-size: cover;
  background-position: center;
  height: 200px;
  padding: 0;
  border-bottom: 1px solid #dadada;
}

.thumbnail-tags-left {
  background-color: white;
  padding: 5px;
  border-radius: 0 0 5px 0;
  margin: 0;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.thumbnail-tags-right {
  background-color: white;
  padding: 5px;
  border-radius: 0 0 0 5px;
  margin: 0;
  border-left: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.likes-tags-left {
  background-color: white;
  padding: 5px 5px 5px 15px;
  border-radius: 0 5px 0 0;
  margin: 0;
  /* border-right: 1px solid #dadada;
  border-top: 1px solid #dadada; */
}

.purchases-tags-right {
  background-color: white;
  padding: 5px 15px 5px 5px;
  border-radius: 5px 0 0 0;
  margin: 0;
  /* border-left: 1px solid #dadada;
  border-top: 1px solid #dadada; */
}

.card-header,
.card-header-hover {
  border-radius: 0px;
  background-color: #1f5180;
  color: #fff;
  border-bottom: 1px solid #dadada;
}

.card-header-hover {
  transition: 0.3s;
}

.card-header-hover:hover {
  border-top: 1px solid #dadada;
  transition: 0.3s;
}

.item-tags {
  border: 1px solid #dadada;
  border-radius: 15px;
  background-color: #297fb918;
  color: #333333;
  padding-left: 13px;
  padding-right: 13px;
}

.read-more {
  color: #333333;
  font-weight: 500;
  transition: 0.3s;
}

.read-more:hover {
  color: #1f5180;
  transition: 0.3s;
}

.card-footer {
  border-radius: 0px;
  background-color: #1f5180;
  color: #fff;
  transition: 0.3s;
}

.card-footer:hover {
  border-top: 1px solid #fff;
  transition: 0.3s;
  color: #fff;
}

.card-margin-footer {
  margin: 10px -16px -16px;
}

/* Buttons */

.btn-readmore{
  padding: 5px 10px;
  color: #e7f3fe;
  border: 1px solid #122d46;
  background-color: #191E29;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-readmore:hover{
  transition: 0.3s;
  background-color: white;
  color:#191E29;
}

.btn-scroll {
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 10px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: #fff;
}

.btn-primary {
  width: 100%;
  background-color: #2980b9;
  --bs-btn-bg: #2980b9;
  --bs-btn-border-color: #2980b9;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary-color);
  --bs-btn-hover-border-color: #2980b9;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2980b9;
  --bs-btn-active-border-color: #2980b9;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2980b9;
  --bs-btn-disabled-border-color: #2980b9;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 200;
}

.btn-primary-blue,
.btn-secondary-blue {
  transition: 0.3s;
}

.btn-primary-blue {
  background-color: #2980b9;
  color: #ffffff;
}

.btn-primary-blue:hover {
  color: #2980b9;
  border: 1px solid #2980b9;
}

.btn-secondary-blue {
  border: 1px solid #2980b9;
  color: #2980b9;
}

.btn-secondary-blue:hover {
  background-color: #2980b9;
  color: #fff;
}

.btn-text {
  font-size: 14px;
  font-weight: 500;
}

.btn-light-blue {
  background-color: var(--primary-color);
}

.btn-outline-dark {
  color: #fff;
  border-color: #2980b9;
  transition: 0.3s;
}

.btn-outline-dark:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

.btn:first-child:active {
  background-color: var(--primary-color);
  border-color: #fff;
  transition: 0.3s;
}

.newsletter-btn {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  border: none;
  transition: 0.3s;
}

.newsletter-btn:hover {
  background-color: var(--primary-color);
  color: white;
  transition: 0.3s;
}



/* Template Base */
i {
  color: var(--primary-color);
}

footer{
  background-color: var(--primary-color);
}

.footer-bg {
  background-color: var(--secondary-color);
}

.navbar-light {
  background-color: var(--primary-color) !important;
  color: #ffffff !important;
}

.navbar-brand,
.fa-bars,
.fa-user,
.dropdown-toggle::after {
  color: #ffffff !important;
  transition: 0.3s;
}

.fa-bars:hover,
.fa-user:hover,
.dropdown-toggle:hover::after {
  color: #dadada !important;
}

/* Navbar Links */
.search-pointer {
  cursor: pointer;
  line-height: 2.5;
}

.navbar-toggler {
  background-color: #fff;
  border-color: var(--primary-color);
  color: white;
}

.nav-link:focus {
  color: #fff;
}

.nav-link {
  transition: background-color 0.3s, color 0.3s;
  color: #ffffff;
}

.nav-link:hover {
  color: #333333;
}

.nav-link:hover,
.nav-link:hover .sb-nav-link-icon,
.nav-link:hover .sb-sidenav-collapse-arrow {
  color: #fff !important;
  border-color: #fff;
  transition: 0.3s;
}

/* .nav-link:hover {
  background-color: #297fb9 !important;
} */

.sb-nav-link-icon,
.sb-sidenav-collapse-arrow {
  transition: color 0.3s;
}

.sb-sidenav-light .sb-sidenav-footer {
  border-top: 1px solid #297fb9;
  color: #297fb9;
}

/* Messages */

/* Basic styling for the messages container */
.messages {
  margin-top: 20px;
  transition: 0.3s;
}

/* Styles for specific message types */
.alert-info {
  background-color: #e7f3fe;
  border: 1px solid #b3d4fc;
  color: #2a5db0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 0.3s;
  width: auto;
}

.alert-error {
  background-color: #f8d7da;
  border: 1px solid #f5c2c7;
  color: #842029;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.alert-success {
  background-color: #d1e7dd;
  border: 1px solid #badbcc;
  color: #155724;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.alert-warning {
  background-color: #fff3cd;
  border: 1px solid #ffecb5;
  color: #856404;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

/* Mailchimp - Newsletter*/

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 600px;
}

.newsletter-email-input {
  height: 45px;
  margin-top: 15px;
}

.newsletter-hidden-input {
  position: absolute;
  left: -5000px;
}

.footer-sticky {
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Team page */

.team1 .subtitle {
  line-height: 24px;
}

.team1 .pro-pic {
  min-height: 200px;
  position: relative;
}

.team1 .pro-pic .card-img-overlay {
  background-color: rgba(25, 30, 41, 0.87);;
  display: none;
}


.team1 .pro-pic .card-img-overlay ul {
  top: 50%;
}

.team1 .pro-pic .card-img-overlay ul li a {
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team1 .pro-pic .card-img-overlay ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
}

.team1 .pro-pic:hover .card-img-overlay {
  display: block;
}



/* testimonial section  */
/* Custom styles for vertical carousel */
.carousel-inner {
  min-height: 80px; /* Adjust based on content */
}
.carousel-item {
  height: 33.333%; /* Each item takes up one-third of the space */
}
.carousel.vertical .carousel-item-next.carousel-item-left,
.carousel.vertical .carousel-item-prev.carousel-item-right {
  transform: translateY(0);
}
.carousel.vertical .carousel-item-left.active,
.carousel.vertical .carousel-item-right.active {
  transform: translateY(-33.333%);
}
.carousel.vertical .carousel-item-left,
.carousel.vertical .carousel-item-right {
  transform: translateY(33.333%);
}
.testimonial{
  padding: 0 3em;
}

#forgot-password-link {
  text-align: center;
}

@media screen and (min-width: 749px) {
  #forgot-password-link {
    text-align: initial;
  }
}

/* Academy */

.iframe-preview{
  cursor: pointer;
}

/* Style for Income Graph */ 

