<!-- dashboard.html -->
{% extends 'dashboard-base/base.html' %}

{% block content %}
<header class="container my-5 text-center">
    <div class="user-section mb-4">
        {% if user.is_authenticated %}
        <h1 class="display-4">Welcome, {{ user.username }}!</h1>
        {% else %}
        <p class="lead">Please log in to view this page.</p>
        {% endif %}
    </div>
</header>
<div class="container">
    <article class="row">

        <!-- INCOMES -->
        <div class="col-lg-4 col-md-12 mb-5 col-sm-12">
            <div class="card shadow h-100">
                <!-- Card Header -->
                <header>
                    <h2 class="card-header text-center">INCOME</h2>
                </header>

                <!-- Card Thumbnail -->
                <a href="" class="row bg-thumbnail d-block">
                    <div class="col-12 bg-thumbnail-image"
                        style="background-image: url('https://placehold.co/600x400/EEE/31343C')">
                    </div>
                </a>
                <!-- Card Body -->
                <!-- Weekly -->
                <section class="card-body pt-1 px-2 pb-1 border">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">

                                <div class="d-flex justify-content-between">
                                    <h4 class="p-0 m-0">Weekly</h4>
                                    <h5 class="p-0 m-0 text-success">${{ weekly_income_total }}</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- Monthly -->
                <section class="card-body pt-1 px-2 pb-1 border">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">

                                <div class="d-flex justify-content-between">
                                    <h4 class="p-0 m-0">Monthly</h4>
                                    <h5 class="p-0 m-0 text-success">${{ monthly_income_total }}</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- Yearly -->
                <section class="card-body pt-1 px-2 pb-1 border">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">

                                <div class="d-flex justify-content-between">
                                    <h4 class="p-0 m-0">Yearly</h4>
                                    <h5 class="p-0 m-0 text-success">${{ yearly_income_total }}</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

                <!-- Card Footer -->
                <footer>
                    <a class="card-footer text-center fs-5 btn w-100" href="{% url 'income' %}">
                        DETAILS
                    </a>
                </footer>
            </div>
        </div>

        <!-- EXPENDITURES -->
        <div class="col-lg-4 col-md-12 mb-5 col-sm-12">
            <div class="card shadow h-100">
                <!-- Card Header -->
                <header>
                    <h2 class="card-header text-center">EXPENDITURE</h2>
                </header>

                <!-- Card Thumbnail -->
                <a href="" class="row bg-thumbnail d-block">
                    <div class="col-12 bg-thumbnail-image"
                        style="background-image: url('https://placehold.co/600x400/EEE/31343C')">
                    </div>
                </a>

                <!-- Card Body -->
                <!-- Weekly -->
                <section class="card-body pt-1 px-2 pb-1 border">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">

                                <div class="d-flex justify-content-between">
                                    <h4 class="p-0 m-0">Weekly</h4>
                                    <h5 class="p-0 m-0 text-danger">-${{ weekly_expenditure_total }}</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- Monthly -->
                <section class="card-body pt-1 px-2 pb-1 border">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">

                                <div class="d-flex justify-content-between">
                                    <h4 class="p-0 m-0">Monthly</h4>
                                    <h5 class="p-0 m-0 text-danger">-${{ monthly_expenditure_total }}</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- Yearly -->
                <section class="card-body pt-1 px-2 pb-1 border">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">

                                <div class="d-flex justify-content-between">
                                    <h4 class="p-0 m-0">Yearly</h4>
                                    <h5 class="p-0 m-0 text-danger">-${{ yearly_expenditure_total }}</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

                <!-- Card Footer -->
                <footer>
                    <a class="card-footer text-center fs-5 btn w-100" href="{% url 'expenditure' %}">
                        DETAILS
                    </a>
                </footer>
            </div>
        </div>

        <!-- GOALS -->
        <div class="col-lg-4 col-md-12 mb-5 col-sm-12">
            <div class="card shadow">
                <!-- Card Header -->
                <header>
                    <h2 class="card-header text-center">GOALS</h2>
                </header>

                <!-- Card Thumbnail -->
                <a href="" class="row bg-thumbnail d-block">
                    <div class="col-12 bg-thumbnail-image"
                        style="background-image: url('https://placehold.co/600x400/EEE/31343C')">
                    </div>
                </a>

                <!-- Card Body -->
                <!-- Budgets -->
                <!-- Weekly -->
                {% if latest_weekly_budget %}
                <section class="card-body pt-1 px-2 pb-1 border">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">
                                <div class="d-flex justify-content-between">
                                    <h4 class="p-0 m-0">Weekly</h4>
                                    <span class="p-0 m-0"><small>{{ latest_weekly_budget.start_date }}</small></span>
                                    <h5 class="p-0 m-0">${{ latest_weekly_budget.amount }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {% endif %}

                <!-- Monthly -->
                {% if latest_monthly_budget %}
                <section class="card-body pt-1 px-2 pb-1 border">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">
                                <div class="d-flex justify-content-between">
                                    <h4 class="p-0 m-0">Monthly</h4>
                                    <span class="p-0 m-0"><small>{{ latest_monthly_budget.start_date }}</small></span>
                                    <h5 class="p-0 m-0">${{ latest_monthly_budget.amount }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {% endif %}

                <!-- Yearly -->
                {% if latest_yearly_budget %}
                <section class="card-body pt-1 px-2 pb-1 border">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">
                                <div class="d-flex justify-content-between">
                                    <h4 class="p-0 m-0">Yearly</h4>
                                    <span class="p-0 m-0"><small>{{ latest_yearly_budget.start_date }}</small></span>
                                    <h5 class="p-0 m-0">${{ latest_yearly_budget.amount }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {% endif %}


                <!-- Card Footer -->
                <footer>
                    <a class="card-footer text-center fs-5 btn w-100" href="{% url 'manage_budgets' %}">
                        DETAILS
                    </a>
                </footer>
            </div>
        </div>
    </article>
</div>
{% endblock %}