{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container section-content py-5">
        <div class="col-md-8 offset-md-2">
            <h1 class="page-title">Register</h1>
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group mt-3">
                    {{ field|as_crispy_field }}
                </div>
                {% endfor %}
                <div class="row mt-3">
                    <div class="col col-12 col-lg-3">
                        <button type="submit" class="btn btn-primary w-100">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% include 'includes/financial-quotes.html' %}
{% endblock %}