<!-- dashboard.html -->
{% extends 'base.html' %}

{% block content %}
<header class="container pt-5 my-5 text-center">
    <div class="user-section mb-4">
        {% if user.is_authenticated %}
        <div class="text-right">
            <form action="{% url 'logout' %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
        <h1 class="display-4">Welcome, {{ user.username }}!</h1>
        {% if user_profile %}
            <p class="lead">Indebt: ${{ user_profile.indebt }}</p>
            <p class="lead">Savings: ${{ user_profile.savings }}</p>
            <p class="lead">Invested: ${{ user_profile.invested }}</p>
            <p class="lead">Current Balance: ${{ current_balance }}</p>
        {% else %}
            <p class="lead">No profile data available.</p>
        {% endif %}
        {% else %}
            <p class="lead">Please log in to view this page.</p>
        {% endif %}
    </div>
</header>
<div class="container mt-4">
    <div class="row">
        <!-- Income Card -->
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Income</h3>
                </div>
                <div class="card-body">
                    <h2>Income Summary</h2>
                    <p>Weekly Income Total: ${{ weekly_income_total }}</p>
                    <p>Monthly Income Total: ${{ monthly_income_total }}</p>
                    <p>Yearly Income Total: ${{ yearly_income_total }}</p>
                    <a href="{% url 'income' %}" class="btn btn-primary">View Income Details</a>
                </div>
            </div>
        </div>

        <!-- Expenditure Card -->
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Expenditure</h3>
                </div>
                <div class="card-body">
                    <h2>Expenditure Summary</h2>
                    <p>Weekly Expenditure Total: ${{ weekly_expenditure_total }}</p>
                    <p>Monthly Expenditure Total: ${{ monthly_expenditure_total }}</p>
                    <p>Yearly Expenditure Total: ${{ yearly_expenditure_total }}</p>
                    <a href="{% url 'expenditure' %}" class="btn btn-primary">View Expenditure Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Reports</h3>
                </div>
                <div class="card-body">
                    {% include 'transactions/reports.html' %}
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Reports</h3>
                </div>
                <div class="card-body">
                    {% include 'transactions/reports.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}