<!-- dashboard.html -->
{% extends 'dashboard-base/base.html' %}

{% block content %}
<header class="container pt-5 my-5 text-center">
    <div class="user-section mb-4">
        {% if user.is_authenticated %}
        <h1 class="display-4">Welcome, {{ user.username }}!</h1>
        {% else %}
        <p class="lead">Indebt: ${{ indebt }}</p>
        <p class="lead">Savings: ${{ savings }}</p>
        <p class="lead">Invested: ${{ invested }}</p>
        <p class="lead">Current Balance: ${{ current_balance }}</p>
        {% endif %}
    </div>
</header>
<div class="container mt-4">
    <div class="row">
        <!-- Income Card -->
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Income</h3>
                </div>
                <div class="card-body">
                    <h2>Income Summary</h2>
                    <p>Weekly Income Total: ${{ weekly_income_total }}</p>
                    <p>Monthly Income Total: ${{ monthly_income_total }}</p>
                    <p>Yearly Income Total: ${{ yearly_income_total }}</p>
                    <a href="{% url 'income' %}" class="btn btn-primary">View Income Details</a>
                </div>
            </div>
        </div>

        <!-- Expenditure Card -->
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Expenditure</h3>
                </div>
                <div class="card-body">
                    <h2>Expenditure Summary</h2>
                    <p>Weekly Expenditure Total: ${{ weekly_expenditure_total }}</p>
                    <p>Monthly Expenditure Total: ${{ monthly_expenditure_total }}</p>
                    <p>Yearly Expenditure Total: ${{ yearly_expenditure_total }}</p>
                    <a href="{% url 'expenditure' %}" class="btn btn-primary">View Expenditure Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Reports</h3>
                </div>
                <div class="card-body">
                    {% include 'transactions/reports.html' %}
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Budgets</h3>
                </div>
                <div class="card-body">
                    <a href="{% url 'manage_budgets' %}" class="btn btn-primary">View Expenditure Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}