<!-- accounts/templates/login.html -->
{% extends 'base.html' %}


{% block content %}
<div class="container my-5 pt-5 ">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="post" action="{% url 'login' %}" class="form-3d">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required><br>

                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required><br>

                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
<div class="container pb-5 my-4">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 bg-transparent bg-glass-3d p-2">
            <p class="text-center p-2 m-2 text-dark bg-white border-0 rounded">
                "Budgeting is the first step towards financial freedom." - Warren Buffett
                <br>
                "A budget tells us what we can't afford, but it doesn't keep us from buying it." - William Feather
                <br>
                "Do not save what is left after spending, but spend what is left after saving." - Warren Buffett
                <br>
                "Budgeting has only one rule: Do not go over budget." - Leslie Tayne
            </p>
        </div>
    </div>
</div>
{% endblock %}