{% extends 'base.html' %}

{% block content %}


<div class="container px-4 px-lg-0">

    <aside class="row gx-4 gx-lg-5 align-items-center my-4 cta-card">
        <div class="col-lg-6">
            <iframe class="rounded" width="100%" height="315"
                src="https://www.youtube.com/embed/jHEPQpSKdbg?si=aFM5ROnEF68ZIKEm" title="Budgets at MIT"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
        <div class="col-lg-5 mt-3">
            <h1 class="font-weight-light text-left">BudgetBuddy Today</h1>
            <p class="text-justify"><strong>Master Your Finances:</strong> Discover the power of budget planners in transforming your
                financial journey. Efficiently track income, manage expenses, and achieve your savings goals – all in
                one place. Embrace the clarity and control you need for a financially secure future.</p>
            <a class="btn btn-primary" href="https://github.com/plexoio/py" target="_blank"
                aria-label="Plexohub GitHub Page">Know
                More About Budgeting</a>
        </div>
    </aside>

    <!-- Call to Action-->
    <aside class="card text-white quote my-4 py-2 text-center bg-main">
        <div class="card-body">
            <p class="text-white m-0">"A budget is telling your money where to go instead of wondering where it went."—Dave Ramsey</p>
        </div>
    </aside>
</div>
{% endblock %}