/* User Dashboard Colors */
i {
  color: #2980b9;
}

.footer-bg {
  background-color: #2980b9;
}

.navbar-light {
  background-color: #2980b9 !important;
  color: #ffffff !important;
}

.navbar-brand,
.fa-bars,
.fa-user,
.dropdown-toggle::after {
  color: #ffffff !important;
  transition: 0.3s;
}

.fa-bars:hover,
.fa-user:hover,
.dropdown-toggle:hover::after {
  color: #dadada !important;
}

/* dialog popups */
.form-dialog {
  position: absolute;
  margin-top: 0;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 5px;
  width: 90%;
}

.form-dialog .close-button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px 0 5px 5px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .form-dialog {
    width: 50%;
  }
}
