{% extends 'base.html' %}

{% block content %}
<section>
  <div class="container section-content py-5">
    <h1 class="page-title">Oops! Looks like you've taken a wrong turn</h1>
    <div class="row mt-5">
      <div class="col col-12 col-md-7 order-2 order-md-1">
        <h2>"HTTP Error 404 - HTTP Page Not Found</h2>
        
        <p class="lead">The page you're looking for has gone on vacation. Maybe it's sipping a virtual cocktail on a beach somewhere. In the meantime, how about heading back to our homepage and starting your journey afresh? If you're feeling adventurous, you can try searching for the missing page – who knows, you might stumble upon a hidden treasure!.</p>
      </div>
      <div class="col col-12 col-md-5 order-1 order-md-2 mb-3">
        <img src="https://images.unsplash.com/photo-1594322436404-5a0526db4d13"
          alt="404 error image" class="img-fluid">
      </div>
    </div>



  </div>
</section>
{% endblock %}