{% extends 'base.html' %}

{% block content %}

<!-- FAQ Section -->
<section id="faq" class="container pt-5 text-container">
  <h2>Frequently Asked Questions (FAQ)</h2>

  <!-- FAQ Flush Accordion -->
  <div class="accordion mt-2" id="faqAccordion">

    <!-- Question 1 -->
    <div class="card">
      <div class="card-header navbar-light" id="faqQuestion1">
        <h3 class="mb-0">
          <button class="btn btn-link text-decoration-none text-white" type="button" data-toggle="collapse"
            data-target="#faqAnswer1" aria-expanded="true" aria-controls="faqAnswer1">
            1. What is BudgetBuddy?
          </button>
        </h3>
      </div>

      <div id="faqAnswer1" class="collapse show" aria-labelledby="faqQuestion1" data-parent="#faqAccordion">
        <div class="card-body">
          BudgetBuddy is a comprehensive budgeting app designed to help users manage their finances effectively. It
          allows you to track your expenses, manage your incomes, set realistic budgets, and achieve your financial
          goals with personalized recommendations.
        </div>
      </div>
    </div>

    <!-- Question 2 -->
    <div class="card">
      <div class="card-header navbar-light" id="faqQuestion2">
        <h3 class="mb-0">
          <button class="btn btn-link text-decoration-none text-white" type="button" data-toggle="collapse"
            data-target="#faqAnswer2" aria-expanded="false" aria-controls="faqAnswer2">
            2. How do I get started with BudgetBuddy?
          </button>
        </h3>
      </div>

      <div id="faqAnswer2" class="collapse" aria-labelledby="faqQuestion2" data-parent="#faqAccordion">
        <div class="card-body">
          Getting started with BudgetBuddy is easy! Simply sign up, input your expenditures and incomes, set your
          budget, and let BudgetBuddy guide you towards financial success.
        </div>
      </div>
    </div>

    <!-- Question 3 -->
    <div class="card">
      <div class="card-header navbar-light" id="faqQuestion3">
        <h3 class="mb-0">
          <button class="btn btn-link text-decoration-none text-white" type="button" data-toggle="collapse"
            data-target="#faqAnswer3" aria-expanded="false" aria-controls="faqAnswer3">
            3. Is BudgetBuddy free to use?
          </button>
        </h3>
      </div>

      <div id="faqAnswer3" class="collapse" aria-labelledby="faqQuestion3" data-parent="#faqAccordion">
        <div class="card-body">
          Yes, BudgetBuddy offers a free version with basic features. We also offer premium plans with additional
          functionalities for users looking for an enhanced budgeting experience.
        </div>
      </div>
    </div>

    <!-- Question 4 -->
    <div class="card">
      <div class="card-header navbar-light" id="faqQuestion4">
        <h3 class="mb-0">
          <button class="btn btn-link text-decoration-none text-white" type="button" data-toggle="collapse"
            data-target="#faqAnswer4" aria-expanded="false" aria-controls="faqAnswer4">
            4. Can I use BudgetBuddy on multiple devices?
          </button>
        </h3>
      </div>

      <div id="faqAnswer4" class="collapse" aria-labelledby="faqQuestion4" data-parent="#faqAccordion">
        <div class="card-body">
          Yes, BudgetBuddy is designed to be accessible on multiple devices. You can seamlessly switch between your
          smartphone, tablet, and computer to manage your finances on the go.
        </div>
      </div>
    </div>

    <!-- Question 5 -->
    <div class="card">
      <div class="card-header navbar-light" id="faqQuestion5">
        <h3 class="mb-0">
          <button class="btn btn-link text-decoration-none text-white" type="button" data-toggle="collapse"
            data-target="#faqAnswer5" aria-expanded="false" aria-controls="faqAnswer5">
            5. How secure is my financial data on BudgetBuddy?
          </button>
        </h3>
      </div>

      <div id="faqAnswer5" class="collapse" aria-labelledby="faqQuestion5" data-parent="#faqAccordion">
        <div class="card-body">
          Security is our top priority. BudgetBuddy employs encryption protocols to ensure the safety of your financial
          data. We do not share your information with third parties.
        </div>
      </div>
    </div>

    <!-- Question 6 -->
    <div class="card">
      <div class="card-header navbar-light" id="faqQuestion6">
        <h3 class="mb-0">
          <button class="btn btn-link text-decoration-none text-white" type="button" data-toggle="collapse"
            data-target="#faqAnswer6" aria-expanded="false" aria-controls="faqAnswer6">
            6. Can I customize budget categories?
          </button>
        </h3>
      </div>

      <div id="faqAnswer6" class="collapse" aria-labelledby="faqQuestion6" data-parent="#faqAccordion">
        <div class="card-body">
          Absolutely! BudgetBuddy allows you to customize and create personalized budget categories to match your unique
          spending habits.
        </div>
      </div>
    </div>

    <!-- Question 7 -->
    <div class="card">
      <div class="card-header navbar-light" id="faqQuestion7">
        <h3 class="mb-0">
          <button class="btn btn-link text-decoration-none text-white" type="button" data-toggle="collapse"
            data-target="#faqAnswer7" aria-expanded="false" aria-controls="faqAnswer7">
            7. How does BudgetBuddy calculate the time to reach financial goals?
          </button>
        </h3>
      </div>

      <div id="faqAnswer7" class="collapse" aria-labelledby="faqQuestion7" data-parent="#faqAccordion">
        <div class="card-body">
          BudgetBuddy uses advanced algorithms to analyze your income, expenses, and savings patterns to estimate the
          time required to achieve your financial goals. The calculations are based on your current financial behavior.
        </div>
      </div>
    </div>

    <!-- Question 8 -->
    <div class="card">
      <div class="card-header navbar-light" id="faqQuestion8">
        <h3 class="mb-0">
          <button class="btn btn-link text-decoration-none text-white" type="button" data-toggle="collapse"
            data-target="#faqAnswer8" aria-expanded="false" aria-controls="faqAnswer8">
            8. What kind of recommendations can I expect from BudgetBuddy?
          </button>
        </h3>
      </div>

      <div id="faqAnswer8" class="collapse" aria-labelledby="faqQuestion8" data-parent="#faqAccordion">
        <div class="card-body">
          BudgetBuddy provides personalized recommendations on budget adjustments to help you reach your financial goals
          faster. These recommendations are based on your spending patterns and financial objectives.
        </div>
      </div>
    </div>

    <!-- Question 9 -->
    <div class="card">
      <div class="card-header navbar-light" id="faqQuestion9">
        <h3 class="mb-0">
          <button class="btn btn-link text-decoration-none text-white" type="button" data-toggle="collapse"
            data-target="#faqAnswer9" aria-expanded="false" aria-controls="faqAnswer9">
            9. Can I export my financial data from BudgetBuddy?
          </button>
        </h3>
      </div>

      <div id="faqAnswer9" class="collapse" aria-labelledby="faqQuestion9" data-parent="#faqAccordion">
        <div class="card-body">
          Yes, BudgetBuddy allows you to export your financial data in various formats for your records or for use with
          other financial tools.
        </div>
      </div>
    </div>

    <!-- Question 10 -->
    <div class="card">
      <div class="card-header navbar-light" id="faqQuestion10">
        <h3 class="mb-0">
          <button class="btn btn-link text-decoration-none text-white" type="button" data-toggle="collapse"
            data-target="#faqAnswer10" aria-expanded="false" aria-controls="faqAnswer10">
            10. Is customer support available for BudgetBuddy?
          </button>
        </h3>
      </div>

      <div id="faqAnswer10" class="collapse" aria-labelledby="faqQuestion10" data-parent="#faqAccordion">
        <div class="card-body">
          Yes, our dedicated customer support team is ready to assist you. If you have any questions, issues, or
          feedback, feel free to reach out to our support team through the in-app chat or via email.
        </div>
      </div>
    </div>

  </div>
  <!-- End FAQ Flush Accordion -->
</section>

{% endblock %}